
<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="utf-8">
		<title>Thanh toán</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="themes/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="themes/css/font-awesome.min2.css"> -->
	<link rel="stylesheet" type="text/css" href="themes/css/font-awesome.min3.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="GET" class="search_form" action="products2.php">
						<div class="input-group">
							<input type="text" name="tukhoa" class="search-query form-control input-group" Placeholder="My Trees.">
							<span class="input-group-btn">
								<input span type="submit" name="btn-search" id="btn-search" class="btn btn-primary rounded-circle btnpro" value="Search" >
								
								
								</span></span>
							</span>
							
						</div>
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">		
							<% if (typeof username ==='undefined') { %> 
								<li><a href="/user">Đăng nhập </a></li>	
							<%  } else { %> 
							<li><a href="/user"><%= username %> </a></li>
							<li><a href="/showcart"> Giỏ hàng </a></li>
								
							<% 	} %> 		
							
											
										
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
				<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="/" class="logo pull-left"><h4 class="title">Cây Cảnh</h4></a>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="/products">Danh Sách Cây</a>					
								
							</li>															
	                         <li><a href="contact.php">Liên Hệ</a>				
									</li>	
							
						</ul>
					</nav>
				</div>
			</section>				
			<section class="header_text sub">
			<img class="pageBanner" src="themes/images/carousel/slider_3.jpg" alt="New products" >
				<h4><span>Thanh Toán</span></h4>
			</section>	
			<section class="main-content">
				<div class="row">
					<div class="span12">
						<div class="accordion" id="accordion2">
							
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Tài khoản &amp; Chi tiết hóa đơn</a>
								</div>
								<div id="collapseTwo" class="accordion-body collapse">
									<form method="POST" action="checkout">
									<div class="accordion-inner">
										<div class="row-fluid">
											<div class="span6">
												<h4>Thông tin cá nhân</h4>
												<div class="control-group">
													<label class="control-label">Tên</label>
													<div class="controls">
														<input type="text" name="name" class="input-xlarge" value="<%= user_info.name %>" required>
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Địa chỉ</label>
													<div class="controls">
														<input type="text" name="address" class="input-xlarge" value="<%= user_info.address %>" required>
													</div>
												</div>					  
												<div class="control-group">
													<label class="control-label">Địa chỉ Email</label>
													<div class="controls">
														<input type="text" name="email" value="<%= user_info.email %>" required>
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Điện thoại</label>
													<div class="controls">
														<input type="text" name="phone" class="input-xlarge" value="<%= user_info.phone %>" required>
													</div>
												</div>
												<input type="hidden" name="id" value="<%= user_info._id %>">
                                                    <input class="btn btn-primary pull-right" type="submit" value="Xác nhận" name="check" >
                                       
												
											</div>
											
										</div>
									</div>

								</form></div>
							</div>
						
						</div>				
					</div>
				</div>
			</section>			
			<%- include("partials/footer2") %> 